.pageapplication{
    padding-bottom: 110px;
    background-color: #f9f9f9;
    background-image: url('../images/home/services-patern.svg');
}
.pageapplication .breadcrumb{
     background-color: #f9f9f9;
}
.pageapplication .breadcrumb__list li::before{
    background-color: #28374d;
}
.pageapplication .breadcrumb__list li a{
    color: #28374d;
}
.pageapplication .breadcrumb__list li:last-child a{
    color: #ff7d00;
}
.pageapplication-block {
    padding: 50px 50px 0 50px;
    border-radius: 30px;
    background-color: #28374d;
    color: #fff;
}
.pageapplication-block__title {
    margin-bottom: 30px;
    font-family: 'BebasNeue-reg';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.pageapplication-block__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}
.pageapplication-block__subtitle span{
    color: #ff7d00;
}
.pageapplication-block__text{
    max-width: 710px;
    margin: 0 auto 80px auto;
    display: flex;
    gap: 20px;
    align-items: center;
}
.pageapplication-block__text p{
    font-size: 22px;
}
.pageapplication-block__text p span{
    color: #ff7d00;
}
.pageapplication-block__text-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    min-width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ff7d00;
}
.pageapplication-box {
    display: flex;
    gap: 20px;
}
.pageapplication-box__left {
    width: 28%;
}
.pageapplication-box__item {
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.pageapplication-box__item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    min-width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ff7d00;
}
.pageapplication-box__text {
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
    color: #28374d;
}
.pageapplication-box__center {
    width: 44%;
}
.pageapplication-box__center img{
    transform: translateX(65px);
}
.pageapplication-box__right {
     width: 28%;
}
.application-partners {
    padding-bottom: 110px;
    background-color: #f9f9f9;
    background-image: url('../images/home/services-patern.svg');
}
.application-partners__title {
    margin-bottom: 55px;
    font-family: 'BebasNeue-reg';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.application-partners-block {
    padding: 80px;
    background: #fff;
    border-radius: 30px;
}
.application-partners-block__item {
    margin-bottom: 35px;
    display: flex;
    gap: 30px;
}
.application-partners-block__item:last-child{
    margin-bottom: 0;
}
.application-partners-block__item-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    min-width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #ff7d00;
}
.application-partners-block__item-info span{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}
.application-partners-block__item-text p{
    font-size: 20px;
}
.application-partners-block__bottom{
    margin: 50px 0 65px 0;
    display: flex;
    gap: 20px;
}
.application-partners-block__elem {
    padding: 40px;
    width: 50%;
    background-color: #28374d;
    border-radius: 30px;
}
.application-partners-block__elem-text {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 500;
    color: #ff7d00;
}
.application-partners-block__elem-link {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.application-partners-block__subtitle {
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
.application-partners-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.application-partners-box__item {
    width: calc(100% / 3 - 20px);
}
.application-partners-box__item-img {
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #ff7d00;
}
.application-partners-box__item-text {
    text-align: center;
    font-size: 21px;
}