@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format(woff2),
    url('../fonts/RobotoCondensed-Regular.woff') format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Medium.woff2') format(woff2),
    url('../fonts/RobotoCondensed-Medium.woff') format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format(woff2),
    url('../fonts/RobotoCondensed-Bold.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Black.woff2') format(woff2),
    url('../fonts/RobotoCondensed-Black.woff') format(woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BebasNeue-reg';
    src: url('../fonts/BebasNeue-regular.woff2') format(woff2),
    url('../fonts/BebasNeue-regular.woff') format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/Bebas_Neue_bold.woff2') format(woff2),
    url('../fonts/Bebas_Neue_bold.woff') format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}