// newshome
.newshome{
    padding: 80px 0;
    background: url('../images/home/Pattern.svg') no-repeat;
}
.newshome-block {
    display: flex;
    gap: 25px;
    margin-bottom: 55px;
}
.newshome-block__item {
    padding-bottom: 20px;
    width: calc(100% / 4 - 25px);
    background: #f9f9f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.newshome-block__item-img img{
    width: 295px;
    height: 170px;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.newshome-block__item-title {
    padding-left: 15px;
    font-size: 22px;
    display: block;
    margin-bottom: 20px;
    font-family: 'BebasNeue-reg';
    font-weight: 400;
}
.newshome-block__item-title:hover{
    color: #ff7d00;
}
.newshome-block__item-text {
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #090909;
}
.newshome-block__bottom {
    padding-right: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.newshome-block__bottom-date,
.newshome-block__bottom-view {
    font-size: 20px;
    text-transform: uppercase;
    color: #a7a7a7;
}
.newshome-block__bottom-view {
    position: relative;
}
.newshome-block__bottom-view::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 5px;
    left: -25px;
    background: url('../images/home/news-views.svg') no-repeat;
}
.newshome__btn {
    width: 310px;
    margin: 0 auto;
}


//serviceshome
.serviceshome {
    padding: 110px 0;
    background-color: #f9f9f9;
    background-image: url('../images/home/services-patern.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.serviceshome-block {
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: space-between;
}
.serviceshome-block__item {
    padding-bottom: 50px;
    width: 48%;
    background: url('../images/home/home-services.svg') no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.serviceshome-block__item-number {
    padding: 35px 0 0 55px;
    font-size: 60px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.35);
    font-family: 'BebasNeue-reg';
}
.serviceshome-block__item-img img{
    margin: 0 50px 30px auto;
    border-radius: 20px;
}
.serviceshome-block__item-title {
    width: 240px;
    padding-left: 55px;
    margin-bottom: 15px;
    font-size: 35px;
    color: #fff;
    font-family: 'BebasNeue-reg';
    line-height: 1.3;
}
.serviceshome-block__item-text {
    width: 485px;
    max-width: 100%;
    padding-left: 55px;
    font-size: 16px;
    color: #fff;
}
.serviceshome__btn {
    width: 310px;
    margin: 0 auto;
}



//.abouthome
.abouthome {
    padding: 110px 0;
    background-color: #28374d;
    background-image: url('../images/home/about-patern.svg');
    color: #fff;
}
.abouthome-block {
    display: flex;
    gap: 140px;
}
.abouthome-block__img {
    min-width: 250px;
}
.abouthome-block__content-title {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
}
.abouthome-block__content-text{
    margin-bottom: 50px;
}
.abouthome-block__content-text p{
    margin-bottom: 10px;
}
.abouthome-block__content__btn {
    margin: 0 auto;
    display: block;
    width: 310px;
    height: 65px;
    max-width: 100%;
	background: #fff;
	border-radius: 10px;
	line-height: 65px;
	text-align: center;
	color: #28374d;
    border: 1px solid #fff;
	font-size: 20px;
	text-transform: uppercase;
}
.abouthome-block__content__btn:hover{
    background:#ff7d00;
    border: 1px solid transparent;
    color: #fff;
}
