.management {
    padding-bottom: 110px;
    background-color: #f9f9f9;
    background-image: url('../images/home/services-patern.svg');
}
.management .breadcrumb{
     background-color: #f9f9f9;
}
.management .breadcrumb__list li::before{
    background-color: #28374d;
}
.management .breadcrumb__list li a{
    color: #28374d;
}
.management .breadcrumb__list li:last-child a{
    color: #ff7d00;
}
.management-block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.management-block__item {
    padding: 35px;
    width: 49%;
    background: #28374d;
    border-radius: 30px;
    color: #fff;
}
.management-block__item-img img{
    margin: 0 0 40px auto;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 240px;
    height: 310px;
    object-fit: cover;
}
.management-block__item-title {
    font-family: 'BebasNeue-reg';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
}
.management-block__item-text {
    font-size: 25px;
}