.questions-page{
    padding-bottom: 110px;
    background-color: #28374d;
    background-image: url('../images/home/services-patern.svg');
}
.questions-page__title {
    color: #fff;
}
.questions-page .questions-accardion__content {
    padding-top: 20px;
}