.reviews{
    padding-bottom: 110px;
    background-color: #28374d;
    background-image: url('../images/home/services-patern.svg');
    color: #fff;
}
.reviews__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}
.reviews__text {
    margin-bottom: 45px;
    font-size: 25px;
    text-align: center;
}
.reviews-box {
    margin-bottom: 55px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.reviews-box__item {
    width: calc(100% / 7 - 20px);
}
.reviews-box__item-img {
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ff7d00;
}
.reviews-box__item-text {
    font-size: 18px;
    text-align: center;
}
.reviews-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.reviews-block__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100% / 3 - 20px);
    background: #ebebeb;
    border-radius: 30px;
}
.reviews-block__item-number {
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'BebasNeue-reg';
    font-weight: 400;
    text-transform: uppercase;
    color: #a7a7a7;
}
.reviews-block__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}
.reviews-block__content-text {
    font-size: 30px;
    text-transform: uppercase;
    color: #28374d;
    font-family: 'BebasNeue-reg';
    font-weight: 400;
}
.reviews-block__content-img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 10px;
}
.reviews-block__item-text {
    margin-bottom: 50px;
    font-size: 20px;
    color: #28374d;
}
.reviews-block__item-job {
    margin-top: auto;
    font-size: 18px;
    color: #28374d;
    text-align: right;
}