.slider-bottom {
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #f9f9f9;
}
.slider-bottom__item {
    width: calc(100% / 4);
    height: 80px;
    line-height: 80px;
}
.slider-bottom__item:first-child{
    position: relative;
    background: #ff7d00;
    color: #fff;
    border-bottom-left-radius: 20px;
}
.slider-bottom__item:first-child::before{
    position: absolute;
    content: '';
    width: 0;
	height: 0;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid #ff7d00;
    z-index: 3;
}
.slider-bottom__item-text {
    text-align: center;
}
.slider {
    padding: 35px 0 105px 0;
    background-color: #28374d;
    background-image: url('../images/home/Pattern.svg');
}
.slider-header__item {
    display: flex;
    border-top-left-radius: 20px; 
}
.slider-header__left {
    width: 50%;
    padding: 70px 45px 55px 80px;
    background-color: #fff;
    border-top-left-radius: 20px;
}
.slider-header__left-title {
    margin-bottom: 15px;
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'BebasNeue';
    text-transform: uppercase;
}
.slider-header__left-subtitle {
    margin-bottom: 40px;
    font-size: 30px;
    color: #ff7d00;
    text-transform: uppercase;
}
.slider-header__left-subtitle span{
    color: #28374d;

}
.slider-header__left-text {
     margin-bottom: 40px;
}
.slider-header__left-btn {
    width: 345px;
    height: 85px;
    line-height: 85px;
    background: #ff7d00;
    border-radius: 15px;
    color: #fff;
    font-family: 'BebasNeue';
    text-transform: uppercase;
    font-size: 35px;
    border: none;
}
.slider-header__left-btn:hover{
    background: #28374d;
}
.slider-header__right {
     width: 50%;   
}
.slider-header__right img{
    width: 100%;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.slider-header .slick-prev,
.slider-header .slick-next{
    padding: 0;
    font-size: 0;
    border: none;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 50%;
    z-index: 2;
}
.slider-header .slick-prev{
    background: url('../images/home/arrow-left-slider.svg') no-repeat center;
    left: 20px;
}
.slider-header .slick-next{
    background: url('../images/home/arrow-right-slider.svg') no-repeat center;
    right: 20px;
}

//daughters
.daughters{
    padding: 110px 0;
    background: url('../images/home/Pattern.svg') no-repeat;
}
.daughters-slider__item {
    width: 445px;
    margin: 0 auto;
    padding: 90px 0 70px 0px;
    padding-right: 0;
    background: url('../images/home/daughters-img.svg') no-repeat;
    background-size: contain;
}
.daughters-slider__item-img {
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 243px;
    border-radius: 30px;
    background-color: #fff;
}
.daughters-slider__item-title {
    margin-bottom: 5px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #090909;
    font-family: 'BebasNeue-reg';
}
.daughters-slider__item-phone {
    display: inline-block;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    left: 50%;
    transform: translateX(-50%);
}
.daughters-slider__item-phone::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: -35px;
    top: 0;
    background: url('../images/home/phone-header.svg') no-repeat;
}

.daughters-slider .slick-prev,
.daughters-slider .slick-next{
    padding: 0;
    font-size: 0;
    border: none;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 45%;
    z-index: 2;
}
.daughters-slider .slick-prev{
    background: url('../images/home/daughters-left-slider.svg') no-repeat center;
    left: 20px;
}
.daughters-slider .slick-next{
    background: url('../images/home/daughters-right-slider.svg') no-repeat center;
    right: 20px;
}

