.slider {
    padding: 35px 0 105px 0;
    position: relative;
    background: #28374d;
}
.slider::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/home/Pattern.svg') no-repeat;
}
.slider-header {
    position: relative;
    z-index: 1;
}
.slider-header__item {
    display: flex;
    border-top-left-radius: 20px;
   
}
.slider-header__left {
    width: 50%;
    padding: 70px 45px 55px 80px;
    background-color: #fff;
    border-top-left-radius: 20px;
}
.slider-header__left-title {
    margin-bottom: 15px;
    font-size: 65px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'BebasNeue';
    text-transform: uppercase;
}
.slider-header__left-subtitle {
    margin-bottom: 40px;
    font-size: 30px;
    color: #ff7d00;
    text-transform: uppercase;
}
.slider-header__left-subtitle span{
    color: #28374d;

}
.slider-header__left-text {
     margin-bottom: 40px;
}
.slider-header__left-btn {
    width: 345px;
    height: 85px;
    line-height: 85px;
    background: #ff7d00;
    border-radius: 15px;
    color: #fff;
    font-family: 'BebasNeue';
    text-transform: uppercase;
    font-size: 35px;
    border: none;
}
.slider-header__left-btn:hover{
    background: #28374d;
}
.slider-header__right {
     width: 50%;   
}
.slider-header__right img{
    width: 100%;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.slider-header .slick-prev,
.slider-header .slick-next{
    padding: 0;
    font-size: 0;
    border: none;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 50%;
    z-index: 2;
}
.slider-header .slick-prev{
    background: url('../images/home/arrow-left-slider.svg') no-repeat center;
    left: 20px;
}
.slider-header .slick-next{
    background: url('../images/home/arrow-right-slider.svg') no-repeat center;
    right: 20px;
}